:root {
    --skin-color:#ec1839;
}


/* CONTATO */

.contact-title {
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.contact-sub-title {
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
}

